@import url("/home/tgy-tutorials/.cache/ulauncher_cache/themes/dark/generated.css");

@import url("theme.css");
.input {
    caret-color: #F4A684;
}
/* workaround for a bug in GTK+ < 3.20 */
.selected.item-box {
    border: none;
}
